.App {
  text-align: left;
  display: block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App .Navbar a {
  border-left: #3d3d3d 2px solid;
  margin: 0 30px;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 15px;
  display: block;
  color: #28aeff;
}

.App .Navbar a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.App canvas {
  display: block;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


