# Default ignored files
/shelf/
/workspace.xml
.idea
.eslintcache
# Datasource local storage ignored files
/../../../../../../../:\Erik\Projects\CanvasUploads\Histogram\heap-o-review-components\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
